html{
   font-size: 10px;
   background-color: #ffffff;
   padding-inline: 5%;
   padding-block:5rem ;
} 

.text-container{
   display: flex;
   flex-direction: column;
   justify-items: center;
   align-items: center;

}
h1{
font-size: 3rem;
color: #505266;
font-family: “Arial Black”,Gadget, sans-serif;
font-weight: 700;
margin: 0.5rem;
}
.text-container h1:first-child{
   font-family: 'Montserrat', sans-serif;
   font-weight: lighter;
} 
p{
   color: #b7b9bc;
   font-family: 'Montserrat', sans-serif;
   font-size: 2.0rem;
   text-align: center;
}
